body {
    font-family: 'Inter', Segoe UI;
}

#main-container{
    margin: 50px 140px;
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px;
    padding: 20px 0px 20px 0px;
}

@media (max-width: 768px){
    #main-container {
        margin: 60px 60px ;
    }
}

@media (max-width: 640px){
    #main-container {
        margin: 20px 20px ;
    }
}